:root {
  --body-padding-top: 50px;
}

body {
  color: #fff;
  margin: 0;
  padding: 0;
  padding-top: var(--body-padding-top);
  height: calc(100% - var(--body-padding-top));
  background-color: #161d26;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}