header {
  width: calc(100% - 30px);
  padding: 0 15px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(22,29,38, .5);
}

.header-side {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-side.left {
  justify-content: flex-start;
}

.header-logo {
  height: 80%;
}

.header-side.right {
  justify-content: flex-end;
}

.header-title {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title h1 {
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}