:root {
  --item-div-padding: 15px;
}

.items {
  width: 100%;
  height: auto;
  display: flex;
}

.item-div {
  width: calc(100% / 3 - (var(--item-div-padding) * 2));
  height: 60px;
  padding: var(--item-div-padding);
  color: #fff;
  text-decoration: none;
}

.item-div.disabled {
  opacity: .1;
  pointer-events: none;
}

.item-div:hover {
  text-decoration: underline;
}

.item {
  width: 100%;
  height: 100%;
  border: .5px solid rgba(255, 255, 255, 1);
  border-radius: 7.5px;
  display: flex;
}

.item-left {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-left-logo {
  height: 80%
}

.item-right {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}


@media screen and (max-width: 767px) { 
  .items {
    flex-wrap: wrap;
  }

  .item-div {
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
  }

  .item-div:hover {
    text-decoration: none;
  }

  .item-div:active {
    text-decoration: underline;
  }
}