body {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background-color: #161d26;
}

.top {
  width: 100%;
  height: 7.5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
  border-bottom: .5px solid rgba(174, 174, 174, .25);
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #fff
}

.bottom {
  width: 100%;
  height: 92.5%;
  display: flex;
}

.left {
  display: flex;
  width: 20%;
  height: calc(100% - 30px);
  border-right: .5px solid rgba(174, 174, 174, .25);
  padding: 15px;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin-bottom: 7.5px;
}

li a {
  color: #fff;
  text-decoration: none;
  font-size: .9em;
}

li a:hover, .tab span:hover {
  font-weight: bold;
  text-decoration: underline;
}

.right {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}

.tabs {
  width: 100%;
  height: 7.5%;
  display: flex;
  border-bottom: .5px solid rgba(174, 174, 174, .25);
}

.tab {
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab span {
  color: #fff;
  font-size: .8em;
}

.tab:not(:last-child) {
  border-right: .5px solid rgba(174, 174, 174, .25);
}

.content {
  width: calc(100% - 30px);
  height: calc(92.5% - 30px);
  padding: 15px;
  color: #fff;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content.hidden {
  display: none;
}